body{
    font-size: 20px;
    font-family:"Ms mincho"
}

/*p {
    color:blue;
} */   

.div-level-1{
    hight:200px;
    width:300px;
    background-color:rgb(17, 0, 255);
}

.div-level-2{
    hight:300px;
    width:300px;
    background-color:bisque;
}

.test-change-style {
    color:brown;
    font-size: 15px;
}

.div-group-1 {
    font-size: 12px;
}

#div-id-1 {
    background-color: #f0f;
}

#div-id-1 p {
    font-size: 9px;
}

#div-id-1 > p {
    font-size: 19px;
}

.brother-selector-1 + p {
    color: rgb(255, 204, 0);
}

.brother-selector-1 ~ p {
    color: #3dff1f;
}

input[type="text"] {
    color: rgb(255, 204, 221);
}

[title] {
    color: rgb(0, 255, 13);
}

[title="brown"] {
    color: brown;
}